


/* Ben's custom style classes */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon-col {
  flex: 1;
}

p.icon-name {
  font-size: 16px;
  text-align: center;
  color: #e0feb7;
  font-family: 'Graphik Web';
}

.tooltip-box {
  fill: rgb(79, 79, 79);
  stroke: black;
  stroke-width: 3;
  opacity: 0.8;
}

.tooltip-text {
  fill: white;
  font-family: 'Graphik Web';
  font-size: 18px;
  text-align: center;
  text-anchor: middle;
  opacity: 1;
}

.progress-bar-outer {
  background-color: #222222 !important;
  height: 10px;
  margin-top: 20px;
}

.progress-bar-inner {
  background-color: #D8FFA2;
  height: 10px;
}

#start-btn {
  background-color: #9BBBD8
}

#restart-btn {
  background-color: #9BBBD8
}

.flex-container {
  display: flex;
}

.flex-child:first-child {
  margin-right: 20px;
}

span.simulation-citation {
  font-size: 14px;
  /* margin-bottom: 20px; */
  color: rgb(130, 130, 130);
  max-width: 500px;
  line-height: 16px;
}

.parametric-graphic-source-citation {
  line-height: 1.2;
}

.primer-image {
  margin-left: 45vw;
  width: 600px;
}

.idyll-step {
  background-color: #222222;
  stroke: black;
  stroke-width: 3;
  opacity: 0.8;
}

.co2-legend {
  font-size: 12px;
  fill: white;
}

.co2-type {
  fill: gray;
  font-size: 12px
}

.tree-sim {
  background-color: #3F3F3F;
  margin: auto;
  padding: 20px;
  height: 750px;
}

.parametric-graphic label {
  margin-right: 1em;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }

  .primer-image {
    margin-left: 10vw;
    width: 500px;
  }
}


/* Matt custom additions */

.parametric-header-metadata-component > div > * {
  margin-right: 0.5em;
}

.fullWidth img {
  margin-left: 50px;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 65px - 4em);
}
.fullWidth .parametric-caption {
  margin-left: 50px;
  max-width: 700px;
}
.idyll-text-container img {
  margin-left: 0;
}
@media screen and (max-width: 800px) {
  .fullWidth img {
    margin-left: 1em;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 65px - 4em);
  }
  .fullWidth .parametric-caption {
    margin-left: 1em;
    max-width: 100%;
  }
}